:root {
  --text-primary: #ffffff;
  --border-primary: #ffffff;
}

body {
  background-color: #303030;
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: firebrick;
}

footer {
  width: 100%;
  margin-top: 5rem;
  padding: 1rem;
  border-top: 2px solid var(--border-primary);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

footer img {
  max-width: 1.1rem;
  margin: 0 4px;
}

footer a {
  display: flex;
}
